body {
    background-color: #f8f9fa;
}

.welcome-body {
    background: linear-gradient(120deg, #0d6efd, #4f9eff);
    color: white;
}

input {
    border-radius: 10px !important;
    padding: 10px;
}

button {
    border-radius: 10px !important;
}

.blue-circle {
    width: 350px;
    height: 350px;
    background: radial-gradient(circle, #0d6efd, #004acb);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.profile-img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
}